:root {
--bg-color-spring: linear-gradient(90deg,#fffbe9,#ffeacfa8,#ffe6ed8c,#ffa7c761); 
--bg-color-summer: linear-gradient(90deg,#fffbe9,#ffeacfa8,#ffe6ed8c,#ffa7c761); 
--bg-color-autumn: linear-gradient(90deg,#fffbe9,#ffeacfa8,#ffe6ed8c,#ffa7c761); 
--bg-color-winter: linear-gradient(90deg,#fffbe9,#ffeacfa8,#ffe6ed8c,#ffa7c761); 
}
