/*
 * 図をアイコンのように丸枠で挿入したい場合
 * <img class="img-circle" src="<URL>" width="40" height="40">
 */
.img-circle {
    border-radius: 50%;
}

.border_radius {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

/*
 * 中央に図を挿入したい場合
 * <img class="img-center" src="<URL>" width="300" height="300">
 */
.img-center {
    display: block;
    margin: 0 auto;
}
